.layout {
  min-height: 100vh;
  margin: 0px;
}

.layout .demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.layout .content {
  padding: 40px;
}
